extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Belma Voli Dajana
  h2 Dajan Voli Belmu
  br

block content1
  img(src="/images/IMG_9040.JPG", alt="slika1")
  br

block content2
  img(src="/images/IMG_9270.JPG", alt="slika2")
  br

block content3
  img(src="/images/IMG_9237.JPG", alt="slika3")
  br

block content4
  img(src="/images/IMG_9041.JPG", alt="slika4")
  br

block content5
  img(src="/images/IMG_9227.JPG", alt="slika5")
  br

block content6
  img(src="/images/IMG_9241.JPG", alt="slika6")
  br

block content7
  img(src="/images/IMG_9042.JPG", alt="slika7")
  br

block content8
  img(scr="/images/IMG_9068.JPG", alt="slika8")
  br

block content9
  img(scr="/images/IMG_9070.JPG", alt="slika9")
  br

block content10
  img(scr="/images/IMG_9077.JPG", alt="slika10")
  br

block content11
  img(scr="/images/IMG_9190.JPG", alt="slika11")
  br

block content12
  img(src="/images/IMG_9191.JPG", alt="slika12")
  br

block content13
  img(src="/images/IMG_9192.JPG", alt="slika13")
  br

block content14
  img(src="/images/IMG_9200.JPG", alt="slika14")
  br

block content15
  img(src="/images/IMG_9201.JPG", alt="slika15")
  br

block content16
  img(src="/images/IMG_9202.JPG", alt="slika16")
  br

block content17
  img(src="/images/IMG_9203.JPG", alt="slika17")
  br

block content18
  img(src="/images/IMG_9204.JPG", alt="slika18")
  br

block content19
  img(src="/images/IMG_9205.JPG", alt="slika19")
  br

block content20
  img(src="/images/IMG_9206.JPG", alt="slika20")
  br

block content21
  img(src="/images/IMG_9207.JPG", alt="slika21")
  br

block content22
  img(src="/images/IMG_9208.JPG", alt="slika22")
  br

block content23
  img(src="/images/IMG_9209.JPG", alt="slika23")
  br

block content24
  img(src="/images/IMG_9210.JPG", alt="slika24")
  br

block content25
  img(src="/images/IMG_9212.JPG", alt="slika25")
  br

block content26
  img(src="/images/IMG_9214.JPG", alt="slika26")
  br

block content27
  img(src="/images/IMG_9225.JPG", alt="slika27")
  br

block content28
  img(src="/images/IMG_9226.JPG", alt="slika28")
  br

block content29
  img(src="/images/IMG_9227.JPG", alt="slika29")
  br

block content30
  img(src="/images/IMG_9228.JPG", alt="slika30")
  br

block content31
  img(src="/images/IMG_9229.JPG", alt="slika31")
  br

block content32
  img(src="/images/IMG_9231.JPG", alt="slika32")
  br

block content33
  img(src="/images/IMG_9232.JPG", alt="slika33")
  br

block content34
  img(src="/images/IMG_9234.JPG", alt="slika34")
  br

block content35
  img(src="/images/IMG_9235.JPG", alt="slika35")
  br

block content36
  img(src="/images/IMG_9236.JPG", alt="slika36")
  br

block content37
  img(src="/images/IMG_9237.JPG", alt="slika37")
  br

block content38
  img(src="/images/IMG_9242.JPG", alt="slika38")
  br

block content39
  img(src="/images/IMG_9243.JPG", alt="slika39")
  br

