doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block content1
    block content2
    block content3
    block content4
    block content5
    block content6
    block content7
    block content8
    block content9
    block content10
    block content11
    block content12
    block content13
    block content14
    block content15
    block content16
    block content17
    block content18
    block content19
    block content20
    block content21
    block content22
    block content23
    block content24
    block content25
    block content26
    block content27
    block content28
    block content29
    block content30
    block content31
    block content32
    block content33
    block content34
    block content35
    block content36
    block content37
    block content38
    block content39